webService/src/method.xml

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:tns="public.webService.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="public.webService.com">
	<xs:element name="sayHello" type="tns:sayHello" />
	<xs:element name="sayHelloResponse" type="tns:sayHelloResponse" />
	<xs:complexType name="sayHello">
		<xs:sequence>
			<!-- 使用注解定义的方法参数名 -->
			<xs:element name="name" type="xs:string" minOccurs="0" />
			<xs:element name="age" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sayHelloResponse">
		<xs:sequence />
	</xs:complexType>
</xs:schema>